/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 2400px) {
    .col-1 {
      width: calc(100% / 12 * 1);
    }
    .col-2 {
      width: calc(100% / 12 * 2);
    }
    .col-3 {
      width: calc(100% / 12 * 3);
    }
    .col-4 {
      width: calc(100% / 12 * 4);
    }
    .col-5 {
      width: calc(100% / 12 * 5);
    }
    .col-6 {
      width: calc(100% / 12 * 6);
    }
    .col-7 {
      width: calc(100% / 12 * 7);
    }
    .col-8 {
      width: calc(100% / 12 * 8);
    }
    .col-9 {
      width: calc(100% / 12 * 9);
    }
    .col-10 {
      width: calc(100% / 12 * 10);
    }
    .col-11 {
      width: calc(100% / 12 * 11);
    }
    .col-12 {
      width: calc(100% / 12 * 12);
    }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {
    .col-md-1 {
      width: calc(100% / 12 * 1);
    }
    .col-md-2 {
      width: calc(100% / 12 * 2);
    }
    .col-md-3 {
      width: calc(100% / 12 * 3);
    }
    .col-md-4 {
      width: calc(100% / 12 * 4);
    }
    .col-md-5 {
      width: calc(100% / 12 * 5);
    }
    .col-md-6 {
      width: calc(100% / 12 * 6);
    }
    .col-md-7 {
      width: calc(100% / 12 * 7);
    }
    .col-md-8 {
      width: calc(100% / 12 * 8);
    }
    .col-md-9 {
      width: calc(100% / 12 * 9);
    }
    .col-md-10 {
      width: calc(100% / 12 * 10);
    }
    .col-md-11 {
      width: calc(100% / 12 * 11);
    }
    .col-md-12 {
      width: calc(100% / 12 * 12);
    }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    .col-sm-1 {
      width: calc(100% / 12 * 1);
    }
    .col-sm-2 {
      width: calc(100% / 12 * 2);
    }
    .col-sm-3 {
      width: calc(100% / 12 * 3);
    }
    .col-sm-4 {
      width: calc(100% / 12 * 4);
    }
    .col-sm-5 {
      width: calc(100% / 12 * 5);
    }
    .col-sm-6 {
      width: calc(100% / 12 * 6);
    }
    .col-sm-7 {
      width: calc(100% / 12 * 7);
    }
    .col-sm-8 {
      width: calc(100% / 12 * 8);
    }
    .col-md-9 {
      width: calc(100% / 12 * 9);
    }
    .col-sm-10 {
      width: calc(100% / 12 * 10);
    }
    .col-sm-11 {
      width: calc(100% / 12 * 11);
    }
    .col-sm-12 {
      width: calc(100% / 12 * 12);
    }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    header{
        h1{
            font-size: 45px;
        }
    }
    #subcribe{
        input{
            margin-bottom: 65px !important;
        }
    }
  }
  
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
  }
  