
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    .col-sm-1 {
      width: calc(100% / 12 * 1);
    }
    .col-sm-2 {
      width: calc(100% / 12 * 2);
    }
    .col-sm-3 {
      width: calc(100% / 12 * 3);
    }
    .col-sm-4 {
      width: calc(100% / 12 * 4);
    }
    .col-sm-5 {
      width: calc(100% / 12 * 5);
    }
    .col-sm-6 {
      width: calc(100% / 12 * 6);
    }
    .col-sm-7 {
      width: calc(100% / 12 * 7);
    }
    .col-sm-8 {
      width: calc(100% / 12 * 8);
    }
    .col-md-9 {
      width: calc(100% / 12 * 9);
    }
    .col-sm-10 {
      width: calc(100% / 12 * 10);
    }
    .col-sm-11 {
      width: calc(100% / 12 * 11);
    }
    .col-sm-12 {
      width: calc(100% / 12 * 12);
    }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 480px) {
    header{
        h1{
            font-size: 45px;
        }
    }
    #subcribe{
        input{
            margin-bottom: 65px !important;
        }
    }
  }
  
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 320px) {
  }
  